.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
}

.modal-content {
    position: relative;
    top: 40%;
    left: 20%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-content button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--moderate-blue);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: var(--light-grayish-blue);
}

.modal-content button:first-child {
    background: var(--soft-red);
}

.modal-content button:first-child:hover {
    background-color: var(--pale-red);
}